*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow:hidden; 
}
body{
   background: linear-gradient(rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.63)),url(../images/analog-binder-blank-236111.jpg);
   background-size: cover;
   color: white;
   font-family: 'Montserrat', sans-serif;
}
.container{
    background: rgba(245, 222, 179, 0.247);
    margin: 150px;
    padding: 50px;
    text-align: center;
    position: relative;
    left: 30px;
    top: 70px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.144);
}
nav {
    padding: 10px;
    margin: 20px;  
}
nav a{
    display:block ;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
}
nav a:hover{
    color: red;
}
footer{
    background: rgba(0, 0, 0, 0.137);
    position: relative;
    top: 10px;
    left: 0px;
    padding: 40px;
     text-align: right;
     color: aliceblue;
}